.wrapper {
  width: 400px;
  margin: auto;
}

.contact {
  &__input {
    padding: 0 .7em;
    width: 100%;
    border-radius: 5px;
    height: 3em;
    border: 1px solid #666;

    &--large {
      height: 10em;
      padding: .7em;
    }
  }

  textarea:focus::placeholder {
    color: transparent;
  }

  &__submit {
    margin-top: 10px;
    float: right;
    clear: both;
  }
}

textarea {
  resize: none;
  font-family: inherit;
  font-size: inherit;
}

.btn {
  cursor: pointer;
  border-radius: 5px;
  border: transparent;
  color: #000;
  padding: .7em 1.3em;
  background-color: #dcdcdc;
  transition: background-color 200ms ease-in-out;

  &:hover {
    background-color: #bdbdbd;
  }
}